{% extends 'base_add.html' %}
{% block content %}
  {% include 'administrateurs/partialsadmin/headbar_admin.html' %}
  {% include 'administrateurs/partialsadmin/sidebar_admin.html' %}
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">Gestions des cotisations</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'cotisation_view' %}">Cotisation</a>
              </li>
              <li class="breadcrumb-item active">Modifier une cotisation</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <h5 class="form-title student-info">Modification d'une cotisation <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                  </div>
                  
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                      <label>Nom | Prénom <span class="login-danger">*</span></label>
                      {{ form.Adherent }}
                      {% if form.Adherent.errors %}
                        <div class="text-danger">{{ form.Adherent.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                      <label>Date du paiement de la cotisation <span class="login-danger">*</span></label>
                      {{ form.DatePaiement }}
                      {% if form.DatePaiement.errors %}
                        <div class="text-danger">{{ form.DatePaiement.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                      <label>Mois de la cotisation <span class="login-danger">*</span></label>
                      {{ form.MoisCotisation }}
                      {% if form.MoisCotisation.errors %}
                        <div class="text-danger">{{ form.MoisCotisation.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms calendar-icon">
                      <label>Année concernée <span class="login-danger">*</span></label>
                      {{ form.AnneeConcernee }}
                      {% if form.AnneeConcernee.errors %}
                        <div class="text-danger">{{ form.AnneeConcernee.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                      <label>Montant cotisé <span class="login-danger">*</span></label>
                      {{ form.MontantCotise }}
                      {% if form.MontantCotise.errors %}
                        <div class="text-danger">{{ form.MontantCotise.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="student-submit">
                      <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
